/* <div class="outer">
<div class="map"></div>
<div class="parks"></div>
<div class="restaurants"></div>
<div class="request--random-restaurant"></div>
</div> */

body {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* outer box */
.outer {
  width: 90%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* boxes  */
.map,
.parks,
.restaurants,
.request--random-restaurant {
  width: 80%;
  height: 350px;
  background-color: rgb(218, 218, 218);
  margin: 40px;
}

/* map */
.top-map {
  width: 100%;
  background-color: rgb(173, 173, 173);
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.map-box-one,
.map-box-two,
.map-box-three {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 34%;
  height: 85%;
  background-size: 120%;
  transition: 0.25s;
}
.map-box-one {
  background-image: url("./Images/camden-hailey-george-kKC03n9LcuI-unsplash.jpg");
}

.map-box-two {
  left: 33%;
  top: -85%;
  background-color: black;
  background-image: url("./Images/kace-lott-grbRPyX39Dg-unsplash.jpg");
}
.map-box-three {
  left: 66%;
  top: -170%;
  background-color: black;
  background-image: url("./Images/map\ of\ south\ ogden.PNG");
}

.map-box-one:hover,
.map-box-two:hover,
.map-box-three:hover {
  background-size: 130%;
}

/* parks */
.top-parks {
  width: 100%;
  background-color: rgb(173, 173, 173);
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.parks-box-one,
.parks-box-two,
.parks-box-three {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 34%;
  height: 85%;
  background-size: 120%;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: white;
}
.parks-box-one {
  background-image: url("./Images/park\ one.PNG");
}

.parks-box-two {
  left: 33%;
  top: -85%;
  background-color: black;
  background-image: url("./Images/park\ two.PNG");
}
.parks-box-three {
  left: 66%;
  top: -170%;
  background-color: black;
  background-image: url("./Images/park\ 3.PNG");
}

.parks-box-one:hover,
.parks-box-two:hover,
.parks-box-three:hover {
  background-size: 130%;
  font-size: 30px;
  color: white;
}

/* restaurants */
.top-rest {
  width: 100%;
  background-color: rgb(173, 173, 173);
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rest-box-one,
.rest-box-two,
.rest-box-three {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 34%;
  height: 85%;
  background-size: 120%;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: white;
}
.rest-box-one {
  background-image: url("./Images/better-mcdonalds.jpg");
}

.rest-box-two {
  left: 33%;
  top: -85%;
  background-color: black;
  background-image: url("./Images/5-guys.jpg");
}
.rest-box-three {
  left: 66%;
  top: -170%;
  background-color: black;
  background-image: url("./Images/seafood.jpg");
}

.rest-box-one:hover,
.rest-box-two:hover,
.rest-box-three:hover {
  background-size: 130%;
  font-size: 30px;
  color: white;
}

/* random restaurant */
.rand-rest-top {
  width: 100%;
  background-color: rgb(173, 173, 173);
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pick-button {
  position: relative;
  top: 30%;
  left: 43%;
  width: 200px;
  height: 60px;
  font-size: 20px;
}
